<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [corrId=%X{correlationId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Mantem o ruido baixo: Testcontainers/docker-java sao verbosos em DEBUG -->
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="tc" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
